header h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: rgb(255, 182, 205);
    padding: 10px;
    font-size: 3rem;
}

.heartIcon {
    position: absolute;
    color: rgb(255, 182, 205);
    font-size: 1.1rem;
    top: 7.5%;
    left: 5.4%
}

.inder {
    display: inline-block;
    position: absolute;
    left: 13%;
    top: 7%
}